name: Release Please

on:
  push:
    branches:
      - main
  workflow_dispatch: {}

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: [self-hosted, ARM64, pi, gsplayer]
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          release-type: node
